<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/profile.php?id=100081679522168" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/r_s_detroja_/" target="_blank" style="color: rgb(236, 11, 236);"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/radhey-detroja-4308a8255/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy;WanderLust Private Limited</div>
    </div>
</footer>